.header {
  align-items: center;
  background:linear-gradient(to right, #042563, black);
  color: white;
  display: flex;
  height: 100px;
  width: 100%;
  border-radius: 100px 0 0 0px;
}

.header__img {
  margin-left: -25px;
  margin-right: 10px;
  width: 210px;
  border-radius: 100%;
  transition: 1s
}
header .header__logo{
  border-radius:100%;
  margin-top: 40%;
}

.header .header__logo :hover{
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 1;
}

.header .header__titulo{
  color: white;
  font-size: 1.8em;
  margin-left: 40px;
  width: 45%;
}

.header__Link{
  color: white;
}

.header__container{
  width: 100%;
}

.header__cafe{
  float: right;
  border-radius: 100px;
  margin-right: 2%;
  margin-left: 2%;
  
}

.header__imgCafe {
  width: 90px;
  border-radius: 100px;
}

@media only screen and (max-width: 600px) {

  .header .header__titulo{
    font-size: 0.9em;
    margin-left: 20px;
    width: 45%;
  }

  .header__imgCafe {
    width: 70px;
  }

  .header__cafe{
    float: right;
    border-radius: 100px;
    margin-right: 1%; 
  }
}
