.section__container{
  background-color: rgb(3, 3, 32);
  padding-left: 10%;
  border-radius: 40% 100% 100% 40% ;
  padding-top: 12px;
  padding-bottom: 12px ;
}

.section__texto{
  padding-left: 30px;
  padding-top: 1px;
  padding-bottom: 20px;
  padding-right: 50px;
  width: 70%;
  background-color: white;
  border-radius: 10% 20% 20% 10% ;
  
}

.section__bineta{
  margin-left: 20px;
}

a{
  text-decoration: none;
}

