@media only screen and (max-width: 600px) {
  // .main__description--title {
  //   font-size: 30px;
  // }

  // .footer {
  //   align-items: flex-start;
  //   flex-direction: column;
  //   background-color: white;
  // }

  .header .header__titulo{
    color: white;
    font-size: 0.8em;
    margin-left: 20px;
    width: 45%;
  }
}